
/* --------------------NAVBAR ---------------*/

.Container{
  height: 80px;
  background-color: #e757b0;
  position: relative;
}

.Wrapper{
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}

.Left{
  flex: 1;
  display: flex;
  align-items: center;
}

.Language{
  font-size: 14px;
  cursor: pointer;
}

.SearchContainer{
  border: 0.5px solid lightgray;
  display: flex;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
}

.Input{
  border: none;
  padding: 5px;
}

.Center{
  flex: 1;
  text-align: center;
}

.Logo{
  font-weight: bold;
  background-color: #f1c7e3;
  font-size: 30px;
  color: rgb(31, 14, 4);
  border: 2px solid rgb(233, 16, 16);
  border-radius: 8px;
}

.Right{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.MenuItem{
  font-size: 14px;
  cursor: pointer;
  margin-left: 25px;
}

.supcolor{
  font-weight: bold;
  color: rgb(37, 9, 82);
}

/* ----------------------------------------- */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* -----------------------------product------------------------------- */
.flex{
  background-color: rgb(238, 125, 169);
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.shoppingCart{
  justify-content: space-between;
  background-color: aqua;
  padding: 20px 30px ;
}

.product-item{
  padding: 20px;
  flex: 1;
    margin: 10px;
    min-width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  background-color: #aad8e7;
}

.imgstyle{
    padding: 20px;
    flex: 1;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aad8e7;
}

.allstyle{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------------CARDLIST------------------------------ */

.main{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  
}

.cardlist1{
  display: flex;
  justify-content: space-between;
  border: 0.8px solid rgb(221, 96, 96);

}

.carddetail{
  flex: 2;
  display: flex;
}

.cardimag{
  width: 100px;
  height: 100px;
}

.cardall{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn{
  display: flex;
  align-items: center;
  border-radius: 3px;
  width: 22px;
  color: rgb(135, 235, 135);
  background-color: #cc541d;
}

.Summary{
  /* flex: 1; */
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 20px 30px;
  height: 40vh;
  width: 50vh;
  background-color: #f3dede;
  border-color: #cc541d;
}

.SummaryItem{
  margin: 10px;
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
  font-weight: 30px;
  font-size: 20px;
}

.btn2{
  background-color: #4CAF50;
  border-radius: 4px;
  padding: 5px 22px;
}

/* ------------------------------------FOOTER -------------------------------------*/

.Container3{
  display: flex;
  background-color: #e686c9;
  margin-top: 50px;
}

.Left2{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.Logo2{
  color: #15031b;
}

.Desc2{
  margin: 20px 0px;
  color: #05020e;
  font-weight: bold;
}

.SocialContainer{
  display: flex;
}

.SocialIcon2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: rgb(194, 30, 30);
    background-color: rgb(33, 4, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.Center2{
  flex: 1;
  padding: 20px;
}

.Title2{
  margin-bottom: 30px;
}

.List2{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.ListItem{
    width: 50%;
    font-weight: bold;
    margin-bottom: 10px;
}

.Right2{
    flex: 1;
    padding: 20px;
}

.ContactItem2{
    margin-bottom: 20px;
    font-weight: bold;
    color: #15031b;
    display: flex;
    align-items: center;
}

.Payment2{
  width: 50%;
}